<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<a href="{% url 'home' %}">Home</a>
{% if not user.is_authenticated %}
    <a href="{% url 'log_in' %}">Log in</a>
    <a href="{% url 'sign_up' %}">Signup</a>
{% endif %}
{% if user.is_authenticated %}
    <a href="{% url 'log_out' %}">Logout</a>
{% endif %}
{% if user.is_authenticated %}
    {% for pdfs in pdf %}
        <h6>{{ pdfs.name }}</h6>
        <a href="{% url 'download' pdfs.id %}">Download</a>
    {% endfor %}
{% endif %}
{% if not user.is_authenticated %}
    <h4>Log in or sign up to view downloads</h4>
{% endif %}
</body>
</html>