<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<form action="{% url 'log_in' %}" method="post">
    {% csrf_token %}
    <div>
        <label for="InputName">Username</label>
        <input type="text" id="InputName" name="name">
    </div>
    <div>
        <label for="InputPassword">Password</label>
        <input type="password" id="InputPassword" name="password">
    </div>
    <button type="submit" >Login</button>
</form>

</body>
</html>