<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<form action="{% url 'sign_up' %}" method="post" >
    {% csrf_token %}
    <div class="form-group">
        <label for="InputName">Username</label>
        <input type="text" name="name" id="InputName" placeholder="Enter Username">
    </div>
    <div class="form-group">
        <label for="InputPassword">Password</label>
        <input type="password" name="password" id="InputPassword">
    </div>
    <button type="submit">Signup</button>
</form>
</body>
</html>